
<p>******** Now your results ********</p>
<p>Your word: <%=params[:word] %></p>
<p>Time Taken to answer:<%=  %></p>
<p>Your score:<%=  %></p>
<p>Message:<%= @message %></p>

<%= link_to "play again", new_path %>
